body {
    background: lightgray;
    width: 100vw;
    height: 100vh;
  }

.header {
    text-align: center;
}

.datetime {
    text-align: center;
    font-size: 24px;
}

.hour {
    
    margin: auto;
    border: solid 2px;
    
}

.past {
    background: red;
    
}
  
.present {
    background: greenyellow;
   
}
  
.future {
    background: white;
}

.description {
    text-align: center;
    
    border-top: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;

}

.btn {
    background: aqua;
    border-top: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
}

.hour-block {
    margin-top: 10px;
}

.to-do {
    text-align: center;
    margin: auto;
   
}



